<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Chat Application</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <!--    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>-->
</head>
<body>


<div id="chat-page">

    <tr>
        <b>
            <span>Chat:</span>
            <span th:text="${port}" style="color: #ff4743 ;"/>
        </b>
    </tr>
    <br>
    <tr th:each="message : ${messages}">
        <td>
            <href th:text="${message.content}"></href>
        </td>
        <br>
    </tr>
    <form action="#" th:action="@{'/connectChat/{port}/sendMessage' (port=${port})}"  th:object="${message}" th:method="get" >
        <input type="text" th:field="*{content}" />
        <button type="submit" style="background-color: #f4f4f4">Send message</button>
    </form>
    <form action="#" th:action="@{'/connectChat/{port}/refresh' (port=${port})}" th:method="get" >
        <input type="hidden" name="_method" value="refresh" />
        <button type="submit" id="submitButton" style="background-color: #f4f4f4">Retrieve messages</button>
    </form>
    <form action="#" th:action="@{'/connectChat/{port}/leave' (port=${port})}" th:method="get" >
        <input type="hidden" name="_method" value="leave" />
        <button type="submit" id="submitLeave" style="background-color: #f4f4f4">Leave chat</button>
    </form>
    <br>
    <div>
        <b>
            <span th:text="${result}" style="color: #ff4743 ;" />
        </b>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
<script src="/js/script.js"></script>

</body>
</html>