<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>
<div>
    <b>
        <span th:text="${submitResult}" style="color: #ff4743 ;" />
    </b>
  </div>
<div id="welcome-page">
    <div class="welcome-page-container">
        <h1 class="title">Chat application</h1>
        <h2 class="title">You are logged in as: <div style="color: aqua ;" th:text="${user}"></div></h2>
        <a th:href="@{/createChat}">Create chat</a>
        <br><a th:href="@{/chats}">View chats</a>
        <br><a th:href="@{/joinChat}">Join chat</a>
    </div>
</div>


</body>
</html>